<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <!-- websocket connect -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
        // 유저 -> 서버 데이터 전송
        const socket = io()
        // key , value
        socket.emit("ask-join", "<%= result._id%>") // 현재 채팅방 id

        // 유저가 데이터 수신
        socket.on("name", (data) => {
            console.log(data);
        })

        // 유저 -> 서버 -> 룸 메세지 전달 요청
        document.querySelector(".chat-button").addEventListener("click", () => {
            // 1번 room으로 msg 전달
            socket.emit("message", { msg: "hello", room: "1" })
        })

        // 룸으로부터 유저가 메세지 수신
        socket.on("broadcast", (data) => {
            console.log(data);
        })



    </script>
</body>

</html>